@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --color-light: #ffffff;
    --color-blue: #6959c5;
    --transition: .5s
}

html {
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

a{
    text-decoration: none;
    color: var(--color-blue);
    font-weight: 900;
    transition: var(--transition);
}

img {
    max-width: 100%;
}

.btn{
    background-color: var(--color-blue);
    color: var(--color-light);
    border: 2px solid var(--color-blue);
    padding: 8px 3.5rem;
    border-radius: 5px;
    transition: var(--transition);
}

.btn:hover{
    background-color: transparent;
    color: var(--color-blue);
}

.inicial{
    width: 100%;
    min-height: 100vh;
    background-image: url(praia.jpg),linear-gradient(rgba(0, 0, 0, 0.786),rgba(5, 3, 3, 0.582));
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.inicial-content{
    width: 60%;
    padding: 5rem;
    color: white;
    text-shadow: 3px 3px 3px black;
}

.inicial-content h2{
    font-size: 7vmin;
}

.inicial-content p{
    font-weight: 600;
    margin-bottom: 2rem;
    line-height: 3.6rem;
}

.hotel-tittle{
    font-size: 5vmin;
    text-align: center;
    margin: 4rem 0 2rem;
    color: var(--color-blue);
    text-shadow: 2px 2px 2px #ccc;
}

.hotel-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.hotel-item{
    width: 28%;
    margin: 3rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    box-shadow: 1px 1px 30px #ccc;
    border-radius: 5px;
    transition: var(--transition);
}
.hotel-item:hover{
    transform: scale(1.1);
}
.hotel-item img{
    width: 60%;
    border-radius: 5px;
}
.hotel-item h3 {
    margin: 2rem 0;
    font-weight: 800;
}

.hotel-item p{
    margin: 0 0 3rem;
    width: 80%;
}